<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="depclipse"
            icon="icons/packages.gif"
            class="de.plugins.eclipse.depclipse.ui.JDependPerspectiveFactory"
            id="de.plugins.eclipse.depclipse.ui.JDependPerspective">
      </perspective>
   </extension>

  <extension point="org.eclipse.core.runtime.preferences">
    <initializer class="de.plugins.eclipse.depclipse.preferences.JDependPreferenceInitializer"/>
  </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFolder"
            adaptable="true"
            nameFilter="*"
            id="de.plugins.eclipse.depclipse.contextContribution">
         <action
               label="Run depclipse"
               class="de.plugins.eclipse.depclipse.actions.ShowDependencyAction"
               menubarPath="additions"
               id="de.plugins.eclipse.depclipse.ShowDependencyAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="depclipse"
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            class="de.plugins.eclipse.depclipse.preferences.JDependPreferencePage"
            id="de.plugins.eclipse.depclipse.preferences.JDependPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="depclipse"
            id="de.plugins.eclipse.depclipse">
      </category>
      <view
            name="Packages"
            icon="icons/packages.gif"
            category="de.plugins.eclipse.depclipse"
            class="de.plugins.eclipse.depclipse.views.PackageTreeView"
            id="de.plugins.eclipse.depclipse.views.PackageTreeView">
      </view>
      <view
            name="Dependencies"
            icon="icons/packages.gif"
            category="de.plugins.eclipse.depclipse"
            class="de.plugins.eclipse.depclipse.views.DependencyView"
            id="de.plugins.eclipse.depclipse.views.DependencyView">
      </view>
      <view
            name="Metrics"
            icon="icons/packages.gif"
            category="de.plugins.eclipse.depclipse"
            class="de.plugins.eclipse.depclipse.views.MetricsView"
            id="de.plugins.eclipse.depclipse.views.MetricsView">
      </view>
      <view
            category="de.plugins.eclipse.depclipse"
            class="de.plugins.eclipse.depclipse.views.ProhibitedDependencyView"
            icon="icons/prohibit.png"
            id="de.plugins.eclipse.depclipse.views.ProhibitedDependencyView"
            name="Prohibited Dependencies">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="de.plugins.eclipse.depclipse.views.JDependConsole$JDependConsoleFactory"
            icon="icons/packages.gif"
            label="JDepend console"/>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="de.plugins.eclipse.depclipse.views.JDependConsole$JDependConsolePageParticipant"
            id="JDepend4Eclipse.consolePageParticipant">
         <enablement>
            <instanceof value="de.plugins.eclipse.depclipse.views.JDependConsole"/>
         </enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.plugins.eclipse.depclipse.editors.RuleEditor"
            default="true"
            extensions="jdr"
            icon="icons/rule.png"
            id="de.plugins.eclipse.depclipse.editors.RuleEditor"
            name="depclipse RuleEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.plugins.eclipse.depclipse.handlers.OpenJDependConsole"
            id="de.plugins.eclipse.depclipse.handlers.OpenJDependConsole"
            name="OpenJDependConsole">
            <state
         		class="org.eclipse.ui.handlers.RegistryToggleState:false"
         		id="org.eclipse.ui.commands.toggleState">
   </state>
            
      </command>
      <command
            defaultHandler="de.plugins.eclipse.depclipse.handlers.OpenInJavaPerspective"
            id="de.plugins.eclipse.depclipse.handlers.OpenInJavaPerspective"
            name="OpenInJavaPerspective">
      </command>
      <command
            defaultHandler="de.plugins.eclipse.depclipse.handlers.RefreshJDepend"
            id="de.plugins.eclipse.depclipse.handlers.RefreshJDepend"
            name="RefreshJDepend">
      </command>
      <command
            defaultHandler="de.plugins.eclipse.depclipse.handlers.SaveJDependOutput"
            id="de.plugins.eclipse.depclipse.handlers.SaveJDependOutput"
            name="SaveJDependOutput">
      </command>
      <command
            defaultHandler="de.plugins.eclipse.depclipse.handlers.ProhibitDependency"
            id="de.plugins.eclipse.depclipse.handlers.ProhibitDependency"
            name="ProhibitDependency">
         <commandParameter
               id="de.plugins.eclipse.depclipse.handlers.ProhibitDependency.Selection"
               name="ProhibitDependencySelection"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.plugins.eclipse.depclipse.handlers.AllowDependency"
            id="de.plugins.eclipse.depclipse.handlers.AllowDependency"
            name="AllowDependency">
         <commandParameter
               id="de.plugins.eclipse.depclipse.handlers.AllowDependency.Selection"
               name="AllowDependencySelection"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.plugins.eclipse.depclipse.handlers.ConfirmDependency"
            id="de.plugins.eclipse.depclipse.handlers.ConfirmDependency"
            name="ConfirmDependency">
         <commandParameter
               id="de.plugins.eclipse.depclipse.handlers.ConfirmDependency.Selection"
               name="ConfirmDependencySelection"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.plugins.eclipse.depclipse.handlers.RemoveOrphans"
            id="de.plugins.eclipse.depclipse.handlers.RemoveOrphans"
            name="RemoveOrphans">
      </command>
      <command
            defaultHandler="de.plugins.eclipse.depclipse.handlers.ShowRuleEditor"
            id="de.plugins.eclipse.depclipse.handlers.ShowRuleEditor"
            name="ShowRuleEditor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:de.plugins.eclipse.depclipse.views.PackageTreeView">
         <command
               commandId="de.plugins.eclipse.depclipse.handlers.OpenJDependConsole"
               icon="icons/console.gif"
               id="de.plugins.eclipse.depclipse.menus.PackageTreeView.OpenJDependConsole"
               style="toggle"
               tooltip="Show JDepend Output in Console">
         </command>
         <command
               commandId="de.plugins.eclipse.depclipse.handlers.OpenInJavaPerspective"
               icon="icons/packages.gif"
               id="de.plugins.eclipse.depclipse.handlers.OpenInJavaPerspective"
               style="push"
               tooltip="Open Selected Item in Java Perspective">
         </command>
         <command
               commandId="de.plugins.eclipse.depclipse.handlers.RefreshJDepend"
               icon="icons/refresh.gif"
               id="de.plugins.eclipse.depclipse.handlers.RefreshJDepend"
               style="push"
               tooltip="Refresh JDepend">
         </command>
         <command
               commandId="de.plugins.eclipse.depclipse.handlers.SaveJDependOutput"
               icon="icons/saveToFile.gif"
               id="de.plugins.eclipse.depclipse.handlers.SaveJDependOutput"
               style="push"
               tooltip="Save JDepend output to file">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:de.plugins.eclipse.depclipse.views.ProhibitedDependencyView">
         <command
               commandId="de.plugins.eclipse.depclipse.handlers.ShowRuleEditor"
               icon="icons/rule.png"
               style="push"
               tooltip="Edit Rules in Rule Editor">
         </command>
      </menuContribution>
   </extension>
</plugin>
